[DESIGN]
# Maximum number of arguments for function / method
max-args=15
# Maximum number of branch for function / method body
max-branches=50
# Maximum number of statements in function / method body
max-statements=100
# Max length
max-line-length=120
# Unused import 
disable=
    W0611, # Conflicts with __all__ in doc (pdoc3)
    C0303, # Conflicts with whitespace in doc