name: build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - 3.11
          - 3.10.9
          - 3.9
          - 3.8
          - 3.7
    # env:
    #   PYTHON_FOR_COVERAGE: "3.9"
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "${{ matrix.python-version }}"
      - name: Install dependencies and run tox (flake8 and more)
        run: |
          make deps
          make tox

      # - name: Upload coverage to Codecov
      #   uses: codecov/codecov-action@v1
      #   if: contains(env.PYTHON_FOR_COVERAGE, matrix.python-version) # ONLY ON LATEST
      #   with:
      #     token: "${{ secrets.CODECOV_TOKEN }}"
      #     fail_ci_if_error: true # optional (default = false)
      #     verbose: true # optional (default = false)
